.contact {
    margin-bottom: var(--spacing-6);
}

.contact h2 {
    margin-bottom: var(--spacing-2);
    font-size: var(--font-size-4);
}

.contact p {
    margin-bottom: var(--spacing-0);
}

.facebook-spacing {
   margin-bottom: var(--spacing-4); 
}
