.file-list-container {
  padding-left: var(--spacing-6);
}

.pdf-file-list-item {
  list-style-image: url("../images/PDF_32.png");
  list-style-position: outside;
}

.pdf-file-list-item li {
  margin-bottom: 0%;
}

.link-text {
  vertical-align: middle;
  top: -15px;
  position: relative;
}

@-moz-document url-prefix() {
  .link-text {
    top: unset;
    position: unset;
    vertical-align: middle;
    padding-bottom: var(--fontSize-3);
  }
}

@media screen and (min-width: 600px) {
  .file-list-container {
    padding-left: var(--spacing-8);
  }

  .pdf-file-list-item li {
    margin-left: inherit;
    padding-left: inherit;
  }
}
