.nav-header {
    background: #11573c
}

.navigation-bar {
    margin: 0 auto;
    width: 100;
    padding-right: 0.5rem;
    display: flex;
    justify-items: space-between;
    align-items: stretch;
    flex-direction: row-reverse 
}

.navigation-links {
    display: flex; 
    flex: 2; 
    margin-left: auto; 
    margin-top: 0; 
    margin-bottom: 0; 
}

.navigation-link-area {
    list-style-type: none;
    padding-left: 2rem;
    margin-bottom: 0;
}

.navigation-link {
    color: white
}

.navigation-link:link,
.navigation-link:visited,
.navigation-link:hover,
.navigation-link:active { 
    text-decoration: none; 
}