/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1.centered {
  visibility: hidden;
  color: var(--color-white);
  font-size: var(--fontSize-5);
  text-align: center;
  white-space: normal;
}

.image-styling {
  height: 50%;
}

@media screen and (min-width: 700px) {
  h1.centered {
    visibility: visible;
    font-size: var(--fontSize-10);
    white-space: nowrap;
  }
}

@media screen and (min-width: 1020px) {
  h1.centered {
    font-size: var(--fontSize-15);
  }
}
