.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 0px;
}

.global-wrapper {
  flex: 1;
  margin: var(--spacing-0) auto;
  max-width: var(--maxWidth-wrapper);
  padding: var(--spacing-5);
}
