.site-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: var(--color-heading);
  font-size: 0.75rem;
  padding: var(--spacing-2) var(--spacing-10);
  color: white;
}

@media screen and (min-width: 550px) {
  .site-footer {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer-link {
  color: var(--color-white);
}

.built-by {
  align-self: center;
  padding: 1rem 0;
}
