.navigation-bar a:hover {
    background-color: #ddd;
    color: black;
}

.navigation-bar a:active {
    background-color: #aa0465;
    color: white;
}

.navigation-bar .hamburger-menu {
    display: none;
}

.navigation-bar {
    background: var(--color-dark-green);
    overflow: hidden;
    margin: 0 auto;
    width: var(--maxWidth-full);
    padding-right: var(--spacing-2);
    display: flex;
    justify-items: space-between;
    align-items: stretch;
    flex-direction: row-reverse 
}

.navigation-bar ul {
    display: flex; 
    flex: 2;  
    margin-left: auto; 
    margin-top: 0; 
    margin-bottom: 0; 
}

.navigation-bar li {
    list-style-type: none;
    padding-left: var(--spacing-8);
    margin-bottom: var(--spacing-0);
}

.navigation-bar a {
    color: var(--color-nav-link)
}

.navigation-bar a:link,
.navigation-bar a:visited,
.navigation-bar a:hover { 
    text-decoration: none; 
}