.nav-header {
    background: var(--color-dark-green)
}

.navigation-bar {
    margin: 0 auto;
    width: var(--maxWidth-full);
    padding-right: var(--spacing-2);
    display: flex;
    justify-items: space-between;
    align-items: stretch;
    flex-direction: row-reverse 
}

.navigation-links {
    display: flex; 
    flex: 2;  
    margin-left: auto; 
    margin-top: 0; 
    margin-bottom: 0; 
}

.navigation-link-area {
    list-style-type: none;
    padding-left: var(--spacing-8);
    margin-bottom: var(--spacing-0);
}

.navigation-link {
    color: var(--color-nav-link)
}

.navigation-link:link,
.navigation-link:visited,
.navigation-link:hover,
.navigation-link:active { 
    text-decoration: none; 
}