# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x, 21.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
      fail-fast: false

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"

      - run: yarn install --immutable --immutable-cache

      - run: yarn build
        env:
          CONTENTFUL_SPACE_ID: "${{ secrets.CONTENTFUL_SPACE_ID }}"
          CONTENTFUL_DELIVERY_TOKEN: "${{ secrets.CONTENTFUL_DELIVERY_TOKEN }}"

      - run: cat public/webpack.stats.json
        #if: false # disabling whilst there are issues with BundleStats

      - name: BundleStats
        #if: false # disabling whilst there are issues with BundleStats
        # You may pin to the exact commit or the version.
        # uses: vio/bundle-stats-action@6a98706a7aefa0fe25da5a1f48fa46e7b23bd653
        uses: vio/bundle-stats-action@v1
        with:
          id: friends-of-foxley-app
          webpack-stats-path: public/webpack.stats.json
          repo-token: ${{ secrets.GITHUB_TOKEN }}
